<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>けんけんBlog</title>
    <link rel="stylesheet" href="css/reset.css>
    <link rel="stylesheet" href="css/style.css>
    <meta name="description" content="HTMLとCSSを勉強するよ">
  </head>

  <body>
   <header class="header">
   </header>
   <div class="wrapper clearfix">
    <main class="main">
    </main>
    <div class="sidemenu">
    </div>
   </div>
   <footer class="footer">
   </footer> 
   <div class="border clearfix">
    <div class="left"></div>
    <div class="light"></div>
    <div class="clear"></div>
   </div>
   <div class="bottom"></div> 

  </body>
</html>